<form id="login" method="post">
    <input type="mail"name="mail" value="mail" placeholder="tu email" >
    <br> <br>
    <input type="password" name="password" value="" placeholder="tu contraseña">
    <br><br>
    <input type="submit" value="login">
</form>

<script type="text/javascript">
    const formLogin=document.querySelector('#login')
    
    const data= new URLSearchParams(new FormData(formLogin))

    formLogin.addEventListener('submit', event =>{
        event.preventDefault();
        fetch('/api/signin',{
            method:'POST',
            body: data
        })
        .then(res => res.json())
        .then(data => console.log(data))
    })
</script>